<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css"/>
    <link href="css/jquery.mobile.iscrollview.css" media="screen" type="text/css" />
    <link href="css/jquery.mobile.iscrollview-pull.css" media="screen" type="text/css" />
    <link href="css/demo.css" media="screen" type="text/css" />
</head>
<body>
    <div id="categories" data-role="page" data-title="Categories">

        <div data-role="header">
            <h1>睢宁</h1>
        </div>
        <!-- /header -->

        <div data-role="content">
            <ul data-role="listview" data-inset="true">
                <li>
                    <a href="#category?category1" class="category1">睢宁要闻</a>
                </li>
                <li>
                    <a href="#category?category2" class="category2">部门快讯</a>
                </li>
                <li>
                    <a href="#category?category3" class="category3">乡镇传真</a>
                </li>
                <li>
                    <a href="#category?category4" class="category4">信息公开</a>
                </li>
                <li>
                    <a href="#category?category5" class="category5">专题服务</a>
                </li>
                <li>
                    <a href="#category?category6" class="category6">投资睢宁</a>
                </li>
            </ul>
        </div>
        <!-- /content --> </div>

    <div id="category1" data-role="page" data-title="category1" >

        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>睢宁要闻</h1>
        </div>
        <!-- /header -->

        <div data-role="content" data-iscroll="">
            <div class="iscroll-pulldown">
                <span class="iscroll-pull-icon"></span>
                <span class="iscroll-pull-label"></span>
            </div>
            <ul data-role="listview" data-inset="true"></ul>
        </div>
        <!-- /content --> </div>

    <div id="category2" data-role="page" data-title="category2" >
        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>部门快讯</h1>
        </div>
        <div data-role="content" data-iscroll="">
            <div class="iscroll-pulldown">
                <span class="iscroll-pull-icon"></span>
                <span class="iscroll-pull-label"></span>
            </div>
            <ul data-role="listview" data-inset="true"></ul>
        </div>
    </div>
    <div id="category3" data-role="page" data-title="category3" >
        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>乡镇传真</h1>
        </div>
        <div data-role="content" data-iscroll="">
            <div class="iscroll-pulldown">
                <span class="iscroll-pull-icon"></span>
                <span class="iscroll-pull-label"></span>
            </div>
            <ul data-role="listview" data-inset="true"></ul>
        </div>
    </div>
    <div id="category4" data-role="page" data-title="category4" >
        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>信息公开</h1>
        </div>
        <div data-role="content" data-iscroll="">
            <div class="iscroll-pulldown">
                <span class="iscroll-pull-icon"></span>
                <span class="iscroll-pull-label"></span>
            </div>
            <ul data-role="listview" data-inset="true"></ul>
        </div>
    </div>
    <div id="category5" data-role="page" data-title="category5" >
        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>专题服务</h1>
        </div>
        <div data-role="content" data-iscroll="">
            <div class="iscroll-pulldown">
                <span class="iscroll-pull-icon"></span>
                <span class="iscroll-pull-label"></span>
            </div>
            <ul data-role="listview" data-inset="true"></ul>
        </div>
    </div>
    <div id="category6" data-role="page" data-title="category6" >
        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>投资睢宁</h1>
        </div>
        <div data-role="content" data-iscroll="">
            <div class="iscroll-pulldown">
                <span class="iscroll-pull-icon"></span>
                <span class="iscroll-pull-label"></span>
            </div>
            <ul data-role="listview" data-inset="true"></ul>
        </div>
    </div>

    <div id="article0" data-role="page" data-title="article">
        
    </div>
    <div id="article1" data-role="page" data-title="article">
        <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1>xxxxx</h1>
        </div>
        <!-- /header -->
        <div data-role="content" data-iscroll=""></div>
        <!-- /content --> 
    </div>

    <!-- Underscore Template that is used to display all of the Category Models -->
    <script id="articleItems" type="text/template">
      <% _.each( collection.toJSON(), function( article, id ) { %>
            <li>
                <a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#article<%= article.type %>?id=<%= article.id %>" >
                <%= article.title %></a>
            </li>
      <% }); %></script>
    <script id="article0" type="text/template">
    <div data-role="header">
            <a class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" href="#categories"></a>
            <h1><%= title %></h1>
        </div>
        <!-- /header -->
        <div data-role="content" data-iscroll=""><%= content %></div>
        <!-- /content --> 
    </script>
    <!-- The Scripts -->
    <script src="js/lib/require.js" data-main="js/main"></script>
</body>

</html>