<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css"/>
</head>
<body>
    <div id="categories" data-role="page" data-title="Categories">

        <div data-role="header">
            <h1>睢宁</h1>
        </div>
        <!-- /header -->

        <div data-role="content">
            <ul data-role="listview" data-inset="true">
                <li>
                    <a href="#category?category1" class="category1">睢宁要闻</a>
                </li>
                <li>
                    <a href="#category?category2" class="category2">部门快讯</a>
                </li>
                <li>
                    <a href="#category?category3" class="category3">乡镇传真</a>
                </li>
                <li>
                    <a href="#category?category4" class="category4">信息公开</a>
                </li>
                <li>
                    <a href="#category?category5" class="category5">专题服务</a>
                </li>
                <li>
                    <a href="#category?category6" class="category6">投资睢宁</a>
                </li>
            </ul>
        </div>
        <!-- /content --> </div>

    <div id="category1" data-role="page" data-title="category1">

        <div data-role="header">
            <h1>睢宁要闻</h1>
        </div>
        <!-- /header -->

        <div data-role="content">
            <ul data-role="listview" data-inset="true"></ul>
        </div>
        <!-- /content --> </div>

    <div id="category2" data-role="page" data-title="category2">

        <div data-role="header">
            <h1>部门快讯</h1>
        </div>
        <!-- /header -->

        <div data-role="content">
            <ul data-role="listview" data-inset="true"></ul>
        </div>
        <!-- /content --> </div>

    <!-- Underscore Template that is used to display all of the Category Models -->
    <script id="categoryItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>
            <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                  <%= category.type %></li>
      <% }); %></script>

    <!-- The Scripts -->
    <script src="js/lib/require.js" data-main="js/main"></script>
</body>

</html>